[submodule "starship"]
	path = starship
    url = git@github.com:manteapi/starship.git
[submodule "vim"]
	path = vim
    url = git@github.com:manteapi/vim.git
[submodule "git"]
	path = git
	url = git@github.com:manteapi/git.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:manteapi/tmux.git
[submodule "i3"]
	path = i3
	url = git@github.com:manteapi/i3.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:manteapi/nvim.git
    branch = main
[submodule "alacritty"]
	path = alacritty
	url = git@github.com:manteapi/alacritty.git
[submodule "justfiles"]
	path = justfiles
	url = git@github.com:manteapi/justfiles.git
[submodule "bashrc"]
	path = bashrc
	url = git@github.com:manteapi/bashrc.git
